/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-green-name: 'arrow-green';
$arrow-green-x: 14px;
$arrow-green-y: 20px;
$arrow-green-offset-x: -14px;
$arrow-green-offset-y: -20px;
$arrow-green-width: 8px;
$arrow-green-height: 4px;
$arrow-green-total-width: 26px;
$arrow-green-total-height: 33px;
$arrow-green-image: 'sprites/arrows.png';
$arrow-green: (14px, 20px, -14px, -20px, 8px, 4px, 26px, 33px, 'sprites/arrows.png', 'arrow-green', );
$arrow-grey-name: 'arrow-grey';
$arrow-grey-x: 0px;
$arrow-grey-y: 0px;
$arrow-grey-offset-x: 0px;
$arrow-grey-offset-y: 0px;
$arrow-grey-width: 26px;
$arrow-grey-height: 13px;
$arrow-grey-total-width: 26px;
$arrow-grey-total-height: 33px;
$arrow-grey-image: 'sprites/arrows.png';
$arrow-grey: (0px, 0px, 0px, 0px, 26px, 13px, 26px, 33px, 'sprites/arrows.png', 'arrow-grey', );
$arrow-orange-2-name: 'arrow-orange-2';
$arrow-orange-2-x: 0px;
$arrow-orange-2-y: 13px;
$arrow-orange-2-offset-x: 0px;
$arrow-orange-2-offset-y: -13px;
$arrow-orange-2-width: 14px;
$arrow-orange-2-height: 20px;
$arrow-orange-2-total-width: 26px;
$arrow-orange-2-total-height: 33px;
$arrow-orange-2-image: 'sprites/arrows.png';
$arrow-orange-2: (0px, 13px, 0px, -13px, 14px, 20px, 26px, 33px, 'sprites/arrows.png', 'arrow-orange-2', );
$arrow-orange-name: 'arrow-orange';
$arrow-orange-x: 14px;
$arrow-orange-y: 13px;
$arrow-orange-offset-x: -14px;
$arrow-orange-offset-y: -13px;
$arrow-orange-width: 5px;
$arrow-orange-height: 7px;
$arrow-orange-total-width: 26px;
$arrow-orange-total-height: 33px;
$arrow-orange-image: 'sprites/arrows.png';
$arrow-orange: (14px, 13px, -14px, -13px, 5px, 7px, 26px, 33px, 'sprites/arrows.png', 'arrow-orange', );
$spritesheet-width: 26px;
$spritesheet-height: 33px;
$spritesheet-image: 'sprites/arrows.png';
$spritesheet-sprites: ($arrow-green, $arrow-grey, $arrow-orange-2, $arrow-orange, );
$spritesheet: (26px, 33px, 'sprites/arrows.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow-green {
  background-image: image-url('sprites/arrows.png');
  background-position: -14px -20px;
  width: 8px;
  height: 4px;
}
.icon-arrow-grey {
  background-image: image-url('sprites/arrows.png');
  background-position: 0px 0px;
  width: 26px;
  height: 13px;
}
.icon-arrow-orange-2 {
  background-image: image-url('sprites/arrows.png');
  background-position: 0px -13px;
  width: 14px;
  height: 20px;
}
.icon-arrow-orange {
  background-image: image-url('sprites/arrows.png');
  background-position: -14px -13px;
  width: 5px;
  height: 7px;
}
