.pagination {
  clear: both;
  float: right;
  margin: 20px 0;
  position: relative;
  left: -50%;

  a {
    // layout
    float: left;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
  
    // styling
    @include transition(all 0.2s ease-in-out);
    background-color: $pagination-link-bg;
    border: 1px solid $pagination-link-border;
    color: $pagination-link-text;
    text-decoration: none;

    &:hover {
      background-color: $pagination-link-hover-bg;
    }
  }

  li {
    // reset
    @include reset-normalize;

    // layout
    display: inline;

    &:first-child {
      a {
        // layout
        margin-left: 0;

        // styling
        border-top-left-radius: 4px;
        border-top-left-radius: 4px;
      }
    }

    &:last-child {
      a {
        border-top-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &.current {
      a {
        background-color: $pagination-link-current-bg;
      }
    }

    &.gap {
      span {
        // layout
        float: left;
        padding: 3px 9px;

        // styling
        color: $pagination-gap-text;
      }
    }
  }

  ul {
    // reset
    @include reset-normalize;

    // layout
    position: relative;
    left: 50%;
  }
}