.weekly-prog {
  @include breakpoint($mobile-breakpoint) {
    .date-nav {
      height: 110px;

      .date-nav-item {
        height: 90px;
      }

      .date-nav-item-link {
        span {
          display: block;
          text-align: center;

          &.nav-date {
            font-size: 2em;
            line-height: 1em;
          }

          &.nav-day {
            font-size: 0.8em;
          }
        }
      }

      .list-holder {
        width: calc(100% - 200px);
        height: 99px;
      }

      .nav-mover {
        height: 60px;

        &:after {
          height: 60px;
        }
      }
    }

    .tr {
      .bold-weight {
        font-size: 1.733em;
      }

      .icon-information {
        // layout
        float: right;
        height: 50px;
        width: 50px;

        // layout
        background:url("data:image/svg+xml;utf8,<svg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='157.4 491.6 21.7 39.2'><style>.st0{fill:#cfcfcf}</style><path class='st0' d='M159.5 491.6l19.6 19.6-2.1 2.1-19.6-19.6 2.1-2.1z'/><path class='st0' d='M157.4 528.6L177 509l2.1 2.1-19.6 19.6-2.1-2.1z'/></svg>") center center no-repeat;
        background-size: contain;
      }

      .pill {
        font-size:1.467em;
        text-align: center;
      }
    }
  }

  @include breakpoint($tablet-breakpoint) {

  }

  @include breakpoint($desktop-breakpoint) {

  }
}