// Blues
$azure-radiance: #14b1ff;
$dodger-blue: #04acff;
$dodger-blue-2: #0fafff;
$havelock-blue: #41a1db;
$lochmara: #008bd0;
$lochmara-2: #0081c1;
$lochmara-t-043: rgba(0, 139, 208, 0.43);

// Greens
$apple: #55a440;
$apple-2: #4d9a38;
$apple-t-043: rgba(85, 164, 44, 0.43);
$celery: #9dcd53;
$celery-2: #a6d263;
$chalet-green: #3b722d;
$conifer: #98cf50;
$fern: #65ad52;
$mantis: #79b84f;
$mantis-2: #86bf60;
$snow-drift: #f0f4ef;
$sprout: #b7d9ad;

// Greys
$alabaster: #f8f8f8;
$alto: #dbdbdb;
$alto-2: #cfcfcf;
$alto-3: #dedede;
$alto-4: #d7d7d7;
$alto-5: #cecece;
$athens-grey: #f3f3f7;
// $athens-grey: #eff2f4; /* From Ireland */
$black-t-003: rgba(0, 0, 0, 0.03);
$black-t-01: rgba(0, 0, 0, 0.1);
$black-t-015: rgba(0, 0, 0, 0.15);
$black-t-022: rgba(0, 0, 0, 0.22);
$black-t-024: rgba(0, 0, 0, 0.24);
$black-t-034: rgba(0, 0, 0, 0.34);
$black-t-043: rgba(0, 0, 0, 0.43);
$boulder: #797878;
$boulder-2: #7c7c7c;
$cod-grey: #141414;
$dove-grey: #707070;
$emperor: #505050;
$gallery: #f0f0f0;
$gallery-2: #efefef;
$gallery-3: #ededed;
$mercury: #e7e7e7;
$mercury-2: #e5e4e4;
$mine-shaft: #2e2e2e;
$mine-shaft-2: #383838;
$mine-shaft-t: rgba(41, 41, 41, 0.5);
$mischka: #e9e7ea;
$mischka-t-06: rgba(233, 231, 234, 0.6);
$nobel: #b6b6b6;
$pale-slate: #b8b7b8;
$scorpion: #585858;
$scorpion-2: #565656;
$scorpion-t-02: rgba(88, 88, 88, 0.2);
$scorpion-t-03: rgba(88, 88, 88, 0.3);
$scorpion-t-04: rgba(88, 88, 88, 0.4);
$silver: #c7c7c7;
$silver-2: #b9b9b9;
$silver_chalice: #b0b0b0;
$silver-t-05: rgba(204, 204, 204, 0.5);
$storm_dust: #686967;
$tundora: #4a4a4a;
$tundora-2: #4c4c4c;
$wild-sand: #f6f6f6;

// Other
$black: #000;
$christine: #f45b0b;
$crusta: #fc7e29;
$red: #ff0000;
$thunderbird: #cc1517;
$trinidad: #e14e00;
$white: #fff;
$white-t-08: rgba(255, 255, 255, 0.8);