
@import "normalize";

@import "bourbon/app/assets/stylesheets/bourbon";

@import "breakpoint-sass/stylesheets/breakpoint",
        "susy/sass/susy";

// Sprites
@import "sprites/**/*";

// Base and Setup
@import "utils/mixins",
        "base/susy",
        "base/breakpoints",
        "utils/colour_variables",
        "utils/colours",
        "base/forms",
        "base/forms_responsive",
        "base/tinymce",
        "base/typography",
        "base/global",
        "base/global_responsive";


// Components
@import "components/**/*";

// .clearfix{
//   @include clearfix;
// }

.touchNav{
  width:90%;
  height:60px;
  overflow:hidden;


  .navitems{
    margin:0;
    padding:0;
    li{
      display: inline-block;
      padding:20px;
    }
  }
}