// Use this tool to name colours:
// http://chir.ag/projects/name-that-color

// List the colours out below and then assign these colour variables to other variables to be used throughout the project, ie:

// $gumbo: #7999a7;
// $heading-text: $gumbo;

/* ---------- Global ---------- */
$body-link: $trinidad !default;
$primary-body-text: $scorpion !default;
$primary-heading-text: $apple !default;
$primary-heading-text-alt: $conifer !default;
$secondary-heading-text: $scorpion !default;
$tertiary-body-text: $white !default;
$tertiary-heading-text: $white !default;

// Forms
$form-error-border: $thunderbird !default;
$form-input-bg: $white !default;
$form-input-border: $alto-4 !default;
$form-input-text: $pale-slate !default;
$form-input-text-focus: $scorpion !default;
$form-label: $scorpion-2 !default;
$form-select-bg: $white !default;
$form-select-border: $alto-4 !default;

// TinyMCE
$tinymce-link-text: $scorpion !default;

/* ---------- End Global ---------- */

/* ---------- Components ---------- */
// Activity and Facility panel
$activity-facility-bg-container-bg-1: $mantis !default;
$activity-facility-bg-container-bg-2: $mantis-2 !default;
$activity-facility-bg-container-link-bg-hover: $apple-t-043;
$activity-facility-image-container-link-bg-hover: $black-t-043 !default;
$activity-facility-overlay-bg-1: transparent !default;
$activity-facility-overlay-bg-2: $mine-shaft !default;
$activity-facility-border: $apple-t-043 !default;
$activity-facility-heading-text: $white !default;
$activity-facility-shadow: $black-t-01 !default;

// Alerts
$alert-high: $red !default;
$alert-medium: $crusta !default;
$alert-normal: $lochmara !default;
$alert-text: $white !default;

// Breadcrumbs
$breadcrumbs-border: $silver-2 !default;
$breadcrumbs-current-text: $apple !default;
$breadcrumbs-link-text: $boulder-2 !default;
$breadcrumbs-pretext-text: $mine-shaft-2 !default;

// Buttons
$button-carousel-bg: $apple !default;
$button-carousel-bg-hover: lighten($apple, 5%) !default;
$button-carousel-border: $apple !default;
$button-carousel-shadow: $black-t-034 !default;
$button-carousel-text: $white !default;
$button-pagination-bg-1: $alto !default;
$button-pagination-bg-2: $gallery-2 !default;
$button-pagination-bg-hover: $christine !default;
$button-pagination-text: $scorpion !default;
$button-pagination-text-hover: $white !default;
$button-primary-bg: $trinidad !default;
$button-primary-bg-hover: $christine !default;
$button-primary-border: $trinidad !default;
$button-primary-shadow: $black-t-034 !default;
$button-primary-text: $white !default;
$button-secondary-bg: $white !default;
$button-secondary-bg-hover: $christine !default;
$button-secondary-border: $trinidad !default;
$button-secondary-text: $trinidad !default;
$button-secondary-text-hover: $white !default;
$button-tertiary-bg: $alto !default;
$button-tertiary-bg-hover: darken($alto, 10%) !default;
$button-tertiary-text: $scorpion !default;

// Carousel
$carousel-arrow-bg: $white !default;
$carousel-bg: $wild-sand !default;
$carousel-border: $apple !default;
$carousel-dot-active-bg: $scorpion !default;
$carousel-dot-bg: $celery !default;
$carousel-subtitle-bg: $white-t-08 !default;
$carousel-subtitle-text: $apple !default;
$carousel-title-bg: $white-t-08 !default;
$carousel-title-text: $celery !default;

// Centre locator toolbar
$centre-locator-toolbar-heading-text: $lochmara !default;
$centre-locator-toolbar-shadow: $scorpion-t-03 !default;
$centre-locator-toolbar-bg: $wild-sand !default;

// Content carousel
$content-carousel-arrow-bg: $white;

// Fake table
$row-even: $gallery !default;
$table-em: $lochmara !default;
$thead-text: $scorpion !default;
$tr-border: $alto-2 !default;

// Find us
$map-legend-bg-1: $apple !default;
$map-legend-bg-2: $celery !default;
$map-legend-border: $apple !default;
$map-legend-link: $white !default;
$map-legend-text: $white !default;

// Footer
$footer-bg: $alto-3 !default;
$footer-border: $scorpion !default;
$footer-border-2: $alto-2 !default;
$footer-border-3: $nobel !default;
$footer-footer-bg-1: $white !default;
$footer-footer-bg-2: $alto-3 !default;
$footer-footer-link-text: $lochmara !default;
$footer-heading-bg: $alto-2 !default;
$footer-link-text: $scorpion !default;

// Header
$header-bg: $apple !default;
$header-bg-nav-open: lighten($apple, 10%) !default;
$header-search-text: $white !default;

// Maps
$map-info-bg: linear-gradient(45deg, $apple 0%, $celery 100%) !default;
$map-info-brdr: $apple !default;
$map-info-txt: $white !default;

// Membership benefit
$membership-benefit-border: $apple-t-043 !default;
$membership-benefit-heading-text: $scorpion !default;
$membership-benefit-number-text: $apple !default;
$membership-benefit-shadow: $black-t-01 !default;

// Membership category
$membership-category-bg: $alabaster !default;
$membership-category-border: $apple-t-043 !default;
$membership-category-header-bg-1: $white !default;
$membership-category-header-bg-2: $black-t-003 !default;
$membership-category-heading-text: $apple !default;
$membership-category-shadow: $black-t-01 !default;

// Membership preview
$membership-preview-bg: $alabaster !default;
$membership-preview-border: $apple-t-043 !default;
$membership-preview-dt-text: $havelock-blue !default;
$membership-preview-header-bg-1: $white !default;
$membership-preview-header-bg-2: $black-t-003 !default;
$membership-preview-heading-text: $apple !default;
$membership-preview-pricing-bg-1: $apple !default;
$membership-preview-pricing-bg-2: $celery !default;
$membership-preview-pricing-text: $white !default;
$membership-preview-pricing-shadow: $black-t-015 !default;
$membership-preview-shadow: $black-t-01 !default;

// News items
$news-item-border: $sprout !default;
$news-filter-archive-bg: $gallery-3 !default;
$news-filter-bg-1: $white !default;
$news-filter-bg-2: $mischka-t-06 !default;
$news-filter-border: $sprout !default;
$news-filter-heading-border: $silver !default;
$news-filter-link-text: $emperor !default;
$news-filter-shadow: $black-t-024 !default;
$news-item-info-text: $lochmara !default;
$news-social-bg-1: $white !default;
$news-social-bg-2: $mischka-t-06 !default;
$news-social-border: $sprout !default;
$news-social-heading-border: $silver !default;
$news-social-shadow: $black-t-024 !default;

// News items grid
$news-items-grid-heading-text: $white !default;
$news-items-grid-item-text-bg: $apple !default;
$news-items-grid-item-text-body-text: $white !default;
$news-items-grid-overlay-bg-1: transparent !default;
$news-items-grid-overlay-bg-2: $mine-shaft !default;

// Pagination
$pagination-gap-text: $boulder !default;
$pagination-link-bg: $white !default;
$pagination-link-border: $alto-4 !default;
$pagination-link-current-bg: lighten($alto-4, 7%);
$pagination-link-hover-bg: lighten($alto-4, 8%);
$pagination-link-text: $lochmara !default;

// Pills
$pill-primary-bg: $lochmara !default;
$pill-secondary-bg: $celery !default;
$pill-text: $white !default;

// Price grid
$price-grid-body-cell: $apple !default;
$price-grid-body-row-even-bg: $snow-drift !default;
$price-grid-body-title: $mine-shaft !default;
$price-grid-border: $alto-2 !default;
$price-grid-head-title: $havelock-blue !default;

// Primary navigation
// Desktop
$desktop-nav-bg: $scorpion !default;
$desktop-nav-txt: $white !default;
$desktop-nav-l1-bg: linear-gradient(0deg, rgb(233, 231, 234) 0%, rgb(243, 243, 247) 100%) !default;
$desktop-nav-l1-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24) !default;
$desktop-nav-l1-txt: $boulder !default;
$desktop-nav-l1-home-bg: $alto-3 !default;
$desktop-nav-l1-home-txt: $black !default;

$desktop-nav-l2-home-txt: $apple !default;
$desktop-nav-l2-home-border: $silver !default;
$desktop-nav-l2-home-brdr-sh:  0px 0 1px 0px rgba(255, 255, 255, 0.76) !default;
$desktop-nav-l2-brdr: $silver-2 !default;
$desktop-nav-l2-txt: $scorpion !default;
$desktop-nav-l2-hover: $apple !default;

$desktop-nav-l3-hover-txt: $white !default;
$desktop-nav-l3-hover-bg: $apple !default;

$desktop-nav-list: $wild-sand !default;
$desktop-nav-list-brdr: $silver !default;
$desktop-nav-l2-home-brdr-sh:  0 0 0 1px rgba(255, 255, 255, 0.76) !default;

$mobile-nav-bg: $alto !default;
$mobile-nav-txt: $tundora !default;
$mobile-nav-brdr: $silver_chalice !default;
$mobile-nav-hover-bg: $apple !default;
$mobile-nav-hover-txt: $white !default;
$mobile-nav-current-txt: $apple !default;
$mobile-nav-previous-txt: $white !default;
$mobile-nav-previous-bg: $storm_dust !default;

// Top nav
$top-nav-txt: $white !default;
$top-nav-border: $chalet-green !default;
$top-nav-hover: $apple-2 !default;

// Not needed for primary nav but used elsewhere - Ian we should probably rename them...
$primary-nav-bg: $scorpion !default;
$primary-nav-bg-hover: $mercury-2 !default;
$primary-nav-dropdown-bg: darken($apple, 10%) !default;
$primary-nav-dropdown-bg-hover: $apple !default;
$primary-nav-header-border: $white !default;
$primary-nav-header-text: $white !default;
$primary-nav-text: $white !default;
$primary-nav-text-hover: $apple !default;

// Sections
$section-border: $dove-grey !default;
$section-dark-bg: $dove-grey !default;
$section-dark-text: $white !default;
$section-header-border: $celery !default;
$section-header-link-text: $scorpion !default;

// Tabbed content
$tabbed-content-body-bg: $alabaster !default;
$tabbed-content-body-shadow: $scorpion-t-03 !default;
$tabbed-content-nav-border: $alto-2 !default;
$tabbed-content-nav-border-active: $apple !default;
$tabbed-content-nav-text: $scorpion !default;
$tabbed-content-nav-text-active: $apple !default;

// Venue navigation
$venue-nav-container-bg-1: $white !default;
$venue-nav-container-bg-2: $mischka-t-06 !default;
$venue-nav-container-shadow: $black-t-024 !default;
$venue-nav-text: $boulder !default;
$venue-nav-text-active: $cod-grey !default;
$venue-nav-text-border: $apple !default;

// Weekly programme
$weekly-prog-nav-border: $alto-2 !default;
$weekly-prog-nav-border-active: $apple !default;
$weekly-prog-nav-text: $scorpion !default;
$weekly-prog-nav-text-active: $apple !default;
$weekly-prog-nav-today: $lochmara !default;
$weely-prog-pill-morning: $fern-frond;
$weely-prog-pill-arvo: darken($fern-frond, 2%) !default;
$weely-prog-pill-evening: darken($fern-frond, 4%) !default;
$weely-prog-old-session: $dove-grey !default;
$weely-prog-now-session: $matisse !default;

$calendar-btn-text: $white !default;
$calendar-btn-bg: $apple !default;
$calendar-bar-border: $apple !default;
$calendar-bar-bg: $alto-3 !default;
$calendar-print-border: $alto-2 !default;

$weekly-prog-nav-brdr: $alto-5 !default;
$weekly-prog-nav-active: $apple !default;
$weekly-prog-nav-active-txt: $white !default;
$weekly-prog-nav-hover: $alto-5 !default;
$weekly-prog-nav-txt: $scorpion !default;


/* ---------- End Components ---------- */

/* ---------- Pages ---------- */
// Boroughs
$borough-quick-link-text: $emperor !default;

// Centre locator
$centre-locator-facility-bg: $alabaster !default;
$centre-locator-facility-border: $apple-t-043 !default;
$centre-locator-facility-header-bg-1: $white !default;
$centre-locator-facility-header-bg-2: $black-t-003 !default;
$centre-locator-facility-heading-text: $apple !default;
$centre-locator-facility-shadow: $black-t-01 !default;
$centre-locator-locations-az-bg: $wild-sand !default;
$centre-locator-locations-link-text: $scorpion !default;
$centre-locator-locations-list-bg: $wild-sand !default;
$centre-locator-locations-list-border: $apple !default;
$centre-locator-locations-list-header-heading-text: $apple !default;
$centre-locator-nav-bg-1: $athens-grey !default;
$centre-locator-nav-bg-1-active: $alabaster !default;
$centre-locator-nav-bg-2: $mischka !default;
$centre-locator-nav-bg-2-active: transparent;
$centre-locator-nav-border: $apple !default;
$centre-locator-nav-shadow: $black-t-024 !default;
$centre-locator-nav-text: $scorpion !default;
$centre-locator-nav-text-active: $apple !default;

$centre-locator-search-result-bg: $wild-sand !default;
$centre-locator-search-result-border: $apple-t-043 !default;
$centre-locator-search-result-facilities-border: $scorpion !default;
$centre-locator-search-result-heading-text: $apple !default;
$centre-locator-search-result-time-text: $lochmara !default;
$centre-locator-search-results-header-heading-text: $dove-grey !default;
$centre-locator-search-results-header-count-text: $lochmara !default;

// Dynamic pages
$dynamic-panel-bold-text: $lochmara !default;
$dynamic-panel-link-text: $trinidad !default;

// Fees
$fee-bg: $wild-sand !default;
$fee-border: $alto-4 !default;
$fee-heading-text: $lochmara !default;
$fee-shadow: $scorpion-t-03 !default;
$fee-th-text: $lochmara !default;

// Home
$top-activity-facility-bg: $white !default;

// Search
$search-filter-border: $apple-t-043 !default;
$search-filter-link-text: $scorpion !default;
$search-filter-shadow: $black-t-01 !default;
$search-result-link-text: $scorpion !default;

// Venues memberships
$membership-short-term-bg: $alabaster !default;
$membership-short-term-border: $apple-t-043 !default;
$membership-short-term-header-bg-1: $white !default;
$membership-short-term-header-bg-2: $black-t-003 !default;
$membership-short-term-heading-text: $apple !default;
$membership-short-term-pricing-bg-1: $apple !default;
$membership-short-term-pricing-bg-2: $celery !default;
$membership-short-term-pricing-shadow: $black-t-015 !default;
$membership-short-term-shadow: $black-t-01 !default;
$membership-short-term-pricing-text: $white !default;
$membership-toggle-bg: $wild-sand !default;
$membership-toggle-bg-active: $apple !default;
$membership-toggle-border: $black-t-022 !default;
$membership-toggle-border-active: transparent !default;
$membership-toggle-divider-bg: $trinidad !default;
$membership-toggle-divider-bg-active: $white !default;
$membership-toggle-text: $scorpion !default;
$membership-toggle-text-active: $white !default;
$membership-types-bg: $wild-sand !default;
$membership-types-border: $apple !default;
$membership-types-shadow: $scorpion-t-03 !default;

// Venues show
$venue-activities-article-bg: $white !default;
$venue-contact-information-link: $scorpion !default;
$venue-join-day-pass-bg: $mantis !default;
$venue-join-day-pass-reflection: $mantis-2 !default;
$venue-join-drop-in-bg: $celery !default;
$venue-join-drop-in-reflection: $celery-2 !default;
$venue-join-join-bg: $apple !default;
$venue-join-join-reflection: $fern !default;
$venue-join-button-bg: $scorpion-t-02 !default;
$venue-join-button-bg-hover: $scorpion-t-04 !default;
$venue-join-button-text: $white !default;
$venue-opening-hours-border: $alto !default;
$venue-opening-hours-link-text: $lochmara;
$venue-opening-hours-time: $havelock-blue !default;
/* ---------- End Pages ---------- */
