
$base-font-size: 1em; /* 16px */
$base-line-height: 24; /* 24px based on 16px body font size */

h1, .alpha {
  font-size: 3em; /* 48px */
  line-height: 1em;
}

h2, .beta {
  font-size: 2.25em; /* 36px */
  line-height: 1em;
}

h3, .gamma {
  font-size: 1.875em; /* 30px */
  line-height: 1em;
}

h4, .delta {
  font-size: 1.5em; /* 24px */
  line-height: 1em;
}

h5, .epsilon {
  font-size: 1.125em; /* 18px */
  line-height: 1em;
}

h6, .zeta {
  font-size: 1em; /* 16px */
  line-height: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

.eta {
  font-size: 0.875em; /* 14px */
  line-height: 1em;
}

dd, dt, li, p {
  font-size: 0.813em; /* 13px */
  line-height: $base-line-height / 13 + em; /* 24px / 13px */
}

p {
  @include reset-normalize;
  margin-bottom: 10px;
}

strong, .bold {
  font-weight: bold;
}

ul {
  &.bullets {
    list-style: disc inside;

    li {
      margin-bottom: 10px;
     }
  }
}

.body-link {
  color: $body-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Garage Gothic Bold
.gg {
  color: $primary-heading_text;
  font-family: "Garage Gothic", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}