section {
  &.news-items-grid {
    article {
      // layout
      margin: 0 10px 20px;
      position: relative;

      &.news-item-image {
        &.single {
          h1 {
            display: none;
          }
        }

        h1 {
          // reset
          @include reset-normalize;

          // layout
          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 75px;
          z-index: 1;
        }
      }

      // &.news-item-image-text {
      //   background-color: $news-item-image-text-bg;

      //   h1 {
      //     color: $news-item-image-text-heading-text;
      //   }

      //   .text-container {
      //     position: relative;

      //     &:before {
      //       // layout
      //       content: "";
      //       position: absolute;
      //       left: 0;
      //       right: 0;
      //       top: -13px;
      //       margin: auto;

      //       // styling
      //       @include sprite($arrow-grey);
      //     }
      //   }
      // }

      &.news-item-image-text, &.news-item-text {
        .text-container {
          @include clearfix;
          padding: 20px;
        }
      }

      &.news-item-text {
        background-color: $news-items-grid-item-text-bg;

        p {
          color: $news-items-grid-item-text-body-text;
        }
      }

      footer {
        @include clearfix;
      }

      h1 {
        // reset
        @include reset-normalize((
          margin: 0 0 10px
        )...);

        // styling
        color: $news-items-grid-heading-text;
      }

      img {
        // layout
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

        // styling
        opacity: 0.9;
      }

      .button {
        position: absolute;
        right: 2px;
        bottom: 2px;
      }

      .image-container {
        // layout
        overflow: hidden;
        padding-bottom: 100%; /* Force it into a square */
        position: relative;

        // styling
        @include linear-gradient(top, $news-items-grid-overlay-bg-1 50%, $news-items-grid-overlay-bg-2 60%);
      }
    }

    .articles {
      padding: 20px 0;
    }  
  }
}