section {
  &.centre-locator-toolbar {
    margin-top: 0;
    overflow: hidden;
    position: relative;

    &:after {
      // layout
      content: "";
      height: 10px;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      width: 75%;
      z-index: 1;

      // styling
      border-radius: 100px / 5px; 
      box-shadow: 0 0 18px $centre-locator-toolbar-shadow;
    }

    form {
      @include clearfix;
    }

    h1 {
      // reset
      @include reset-normalize((
        margin: 0 0 50px
      )...);

      // styling
      color: $centre-locator-toolbar-heading-text;
    }

    select {
      width: 100%;
    }
  }
}

.centre-locator-toolbar-container {
  background-color: $centre-locator-toolbar-bg;
}