.weekly-prog {
  .session-title{
      font-weight: bold;
      font-size: 1.231em; /* 16px / 13px */
    }

  .icon-information {

    display: inline-block;
    width: 40px;
    height: 40px;

    background: $button-primary-bg url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbnMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQzLjUgNDQuNSI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojZmZmO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMH08L3N0eWxlPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjIyIiBjeT0iMjIiIHI9IjIwIi8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTIyIDE4LjR2MTMuOCIvPjxlbGxpcHNlIGNsYXNzPSJzdDAiIGN4PSIyMiIgY3k9IjEyLjIiIHJ4PSIuNiIgcnk9Ii40Ii8+PC9zdmc+') 50% no-repeat;
    background-size: 80%;
    border-radius: 4px;
  }

  .responsive-video-wrapper{
    max-width: 560px;
    max-height: 314px;
    margin: 0 auto;

    .responsive-video {
      position: relative;
      padding-bottom: 56.07%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }


  .additional {
    // layout
    max-height: 0;
    overflow-y: hidden;
    padding: 0 20px;
    opacity: 0;


    // styling
    font-size: 1.231em; /* 16px */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    &.active {
      max-height: 500px;
      padding: 20px;
      opacity: 1;
    }

    ul {
      &.list-group {
        // reset
        @include reset-normalize;

        // layout
        @include clearfix;
        display: block;
        margin-bottom: 20px;

        li {
          // reset
          @include reset-normalize;

          // layout
          margin-right: 20px;
        }
      }
    }

    .description {
      @include clearfix;
      display: block;
    }
  }



  .icon {
    display: block;
  }

  .no-sessions {
    text-align: center;
  }

  .table {
    margin-bottom: 40px;
  }

  .weekly-pagination {
    margin: 0 auto;
    padding: 0 30px 20px;
    text-align: center;

    &.hide {
      @include hidden;
    }
  }
}

//key
.timetable-key{
  padding:20px;

  background:$alto-2;
  border-radius: 5px;
  float:left;

  h4{
    margin-top:0;
  }

  ul{
    @include reset-normalize;
    li{
       @include reset-normalize;
    }

  }
}

// Calendar bar
.calendar-bar {
  background: $calendar-bar-bg;
  border-top: 2px solid $calendar-bar-border;
}

.print-prog {
  // layout
  display: inline-block;
  float: right;
  position: relative;

  // styling
  border-left: 1px solid $calendar-print-border;

  .print-prog-icon {
    // layout
    display: inline-block;
    height: 25px;
    margin: 8px 10px;
    width: 25px;

    // styling
    background: transparent inline_image("svg/weekly-prog/print.svg") center center no-repeat;
    background-size: contain;
  }
}

.calendar-btn {
  float: left;
  position: relative;

  button {
    // layout
    padding: 5px 10px;

    // styling
    background-color: $calendar-btn-bg;
    border: 0 none;
    border-bottom: 1px solid $calendar-bar-bg;
    color: $calendar-btn-text;

    &:focus {
      outline: none;
    }
  }

  .month-str {
    line-height: 1.5em;
    display: inline-block;
    float: right;
    margin: 5px;
  }

  .calendar-holder {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
  }

  .calendar-icon{
    // layout
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;

    // styling
    background: $calendar-btn-bg inline_image("svg/weekly-prog/calendar.svg") center center no-repeat;
    background-size: contain;
  }
}
// Calendar-bar finish

// Date Nav start
.date-nav {
  // reset
  @include reset-normalize;

  // layout
  @include clearfix;
  height: 70px;
  position: relative;
  width: 100%;

  &:after {
    // layout
    content: "";
    height: 1px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;

    // styling
    background-color: $weekly-prog-nav-border;
  }

  .date-list {
    // reset
    @include reset-normalize;

    // layout
    height: auto;
    height: 50px;
    position: absolute;
    left: 0;

    // styling
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .date-nav-item {
    // reset
    @include reset-normalize;

    // layout
    float: left;
    height: 50px;
    position: relative;

    // styling
    font-size: 1.25em; /* 20px */
    font-weight: 300;
    line-height: 1em;

    &.active {
      &:after {
        // layout
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        bottom: -0.5px;
        left: 0;
        right: 0;
        width: 95%;

        // styling
        background-color: $weekly-prog-nav-border-active;
      }


      a {
        color: $weekly-prog-nav-text-active;

        &:after {
          // layout
          content: "";
          display: inline-block;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -19.5px;

          // styling
          @include sprite($arrow-green-down);
        }
      }
    }
  }

  .date-nav-item-link  {
    // layout
    display: block;
    padding: 0 20px;
    margin: 15px 0;
    position: relative;

    // styling
    color: $weekly-prog-nav-text;
    text-decoration: none;
    text-transform: uppercase;
  }

  .list-holder {
    float: left;
    height: 70px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 250px);
  }

  .loading {
    // layout
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;

    // styling
    background: $silver-t-05 inline_image("svg/weekly-prog/loading.svg") center center no-repeat;
  }

  .loading-session {
    color: $silver !important;
  }

  .nav-mover {
    // reset
    @include reset-normalize;

    // layout
    float: left;
    height: 20px;
    margin: 15px;
    position: relative;
    width: 10px;

    // styling
    background-size: contain;
    font-size: 1.25em; /* 20px */
    font-weight: 300;
    line-height: 1em;

    &:after {
      // layout
      content: "";
      height: 20px;
      position: absolute;
      top: 0;
      width: 1px;

      // styling
      background-color:$weekly-prog-nav-border;
    }

    &.move-left {
      background: inline_image("svg/move-left.svg") center center no-repeat;


      &:after {
        right: -20px;
      }
    }

    &.move-right {
      // layout
      float: right;

      // styling
      background: inline_image("svg/move-right.svg") center center no-repeat;


      &:after {
        left: -20px;
      }
    }
  }

  .today-nav {
    float: left;

    a {
      border-right: 1px solid $weekly-prog-nav-border;
      color: $weekly-prog-nav-today;
    }
  }
}
// Date Nav Finish

// Timetable nav start
.timetable-nav {
  margin: 10px 0 30px;
  overflow: hidden;
  position: relative;

  .timetable-nav-holder {
    float: left;
    position: relative;
    left: 50%;

    ul {
      // reset
      @include reset-normalize;

      // layout
      position: relative;
      float: left;
      left: -50%;

      // styling
      border: 1px solid $weekly-prog-nav-brdr;
      border-radius: 10px;

      li {
        // reset
        @include reset-normalize;

        // layout
        display: inline;
        position: relative;

        a {
          // layout
          display: block;
          float: left;
          margin: 5px;
          padding: 20px 30px;

          // styling
          border-radius: 8px;
          color: $weekly-prog-nav-txt;
          text-decoration: none;
          font-size: 1.154em;

          &:hover {
            background-color: $weekly-prog-nav-hover;
          }

          &.active {
            background-color: $weekly-prog-nav-active;
            color: $weekly-prog-nav-active-txt;
          }
        }
      }
    }
  }
}
// Timetable nav finish